# This workflow ensures that all PRs are correctly labeled

name: LabelChecker
on:
  pull_request:
    types: 
      - opened
      - labeled
      - unlabeled

jobs:
  label:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/labeler@v2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
    - run: |
        label_count=0
        pull_request_number=2787

        labels=$(curl https://api.github.com/repos/microsoft/azure-pipelines-agent/issues/$pull_request_number/labels | tr '[:upper:]' '[:lower:]')
        if [[ $labels == *"\"name\": \"bug\"",* ]]; then
            echo "Contains bug"
            label_count=$((label_count+1))
        fi
        if [[ $labels == *"\"name\": \"enhancement\"",* ]]; then
            echo "Contains enhancement"
            label_count=$((label_count+1))
        fi
        if [[ $labels == *"\"name\": \"misc\"",* ]]; then
            echo "Contains misc"
            label_count=$((label_count+1))
        fi
        if [[ $labels == *"\"name\": \"internal\"",* ]]; then
            echo "Contains internal"
            label_count=$((label_count+1))
        fi

        echo ""

        if [[ $label_count == 0 ]]; then
            echo "Must be labeled one of [bug, enhancement, misc, internal]"
            exit 1
        fi

        if [[ $label_count > 1 ]]; then
            echo "Cannot contain more than one label of [bug, enhancement, misc, internal]. Currently contains $label_count"
            exit 1
        fi
        
